# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [master]
    paths-ignore:
      - "package.json"
      - "CHANGELOG.md"
  pull_request:
    branches: [master]
    paths-ignore:
      - "package.json"
      - "CHANGELOG.md"

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [13.x]

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn test
      - run: yarn release
        env:
          CI: true
          NPM_TOKEN: "${{secrets.NPM_TOKEN}}"
          GH_TOKEN: "${{ secrets.GH_TOKEN }}"

